
:root {
  --background-color: #0d0d0d;
}

body {
  background-color: var(--background-color);
}

.calc {
  width: 400px;
  height: 650px;
  position: relative;
  margin: auto;
}

.element-calc {
  background-color: #000;
  padding: 17px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 14px;
  outline: 2px solid #555;
}

.element-calc::after {
  content: '';
  width: 100px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.element-calc .above-display {
  display: block;
  width: 100%;
  background-color: transparent;
  margin-top: 95px;
  border-bottom: none;
  margin-bottom: 0px;
  padding: 0px 17px 4px 0px;
  text-align: right;
  font-size: 30px;
  font-weight: 600;
  color: rgba(255 255 255 / 50%);
  cursor: normal;
}

input[type=text] {
  display: block;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(255 255 255 / 30%);
  margin-bottom: 14.4px;
  padding: 0px 17px 4px 0px;
  text-align: right;
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  cursor: normal;
}

input[type=button] {
  width: 85px;
  height: 85px;
  border-radius: 50px;
  font-size: 33px;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding-bottom: 5px;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: #222;
    font-size: 27px;
  }
}

.map-here {
  gap: 10px;
  grid-template-columns: repeat(4, 4fr);
}

input[value="×"], input[value="÷"], input[value="="], input[value="+"], input[value="-"] {
  background-color: #FF9F0A;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: #dd8808;
  }
}

input[value="C"] {
  background-color: #A5A5A5;
  color: #000;

  &:hover {
    background-color: #838181;
  }
}

@media (max-width: 450px) {
  input[type=button] {
    padding-bottom: 0px;
    width: 80px;
    height: 80px;
    margin-top: 5px;
  }

  body {
    background-color: var(--background-color);
  }
  
  .calc {
    width: 100vw;
    height: 100dvh;
    position: relative;
    margin-inline: auto;
  }
  
  .element-calc {
    background-color: #000;
    padding: 17px;
    height: 100%;
    width: 100%;
    border-radius: 14px;
    outline: none !important;
  }
  
  .element-calc::after {
    content: '';
    width: 100px;
    height: 5px;
    background-color: transparent !important;
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    display: none;
  }
  
  .element-calc .above-display {
    display: block;
    width: 100%;
    background-color: transparent;
    border-bottom: none;
    margin-top: 38dvh !important;
    margin-bottom: 0px;
    padding: 0px 17px 4px 0px;
    text-align: right;
    font-size: 30px;
    font-weight: 600;
    color: rgba(255 255 255 / 50%);
    cursor: normal;
  }
}

